<div class="mat-elevation-z8">

  <div class="custom-controle">
      <mat-form-field >
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for Computer" i18n-placeholder>
        </mat-form-field>
        <div class="create-button">
            <button mat-raised-button color="primary" matTooltip="Create" (click)="createDialog()" [disabled]="disableButton()"><mat-icon svgIcon="add"></mat-icon></button>
            <button mat-raised-button color="accent" class="custom-button" (click)="deleteFlag=!deleteFlag" [disabled]="disableButton()">
              <mat-icon svgIcon="delete" matTooltip="Delete Mode" *ngIf="!deleteFlag"></mat-icon>
              <mat-icon svgIcon="edit"   matTooltip="Edit Mode" *ngIf="deleteFlag"></mat-icon>
            </button>
        </div>

  </div>

  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n> Name </th>
      <td mat-cell *matCellDef="let element" (click)="deleteFlag || disableButton() ? null :updateDialog(element)" > {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="introduced">
      <th mat-header-cell *matHeaderCellDef i18n > Introduced </th>
      <td mat-cell *matCellDef="let element" (click)="deleteFlag || disableButton() ? null :updateDialog(element)"> {{element.introduced}} </td>
    </ng-container>
    <ng-container matColumnDef="discontinued">
      <th mat-header-cell *matHeaderCellDef i18n > Discontinued </th>
      <td mat-cell *matCellDef="let element" (click)="deleteFlag || disableButton() ? null :updateDialog(element)"> {{element.discontinued}} </td>
    </ng-container>
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef i18n > Company </th>
      <td mat-cell *matCellDef="let element"  (click)="deleteFlag || disableButton() ? null :updateDialog(element)"> {{element.companyName}} </td>
    </ng-container>
    <ng-container matColumnDef="select">
      <th  mat-header-cell *matHeaderCellDef class="custom-cell-select">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        *ngIf="deleteFlag">
          </mat-checkbox>
            <button mat-raised-button (click)="deleteComputers()" matTooltip="Confirm deletion" class="custom-button" color="accent" *ngIf="deleteFlag">
              <mat-icon svgIcon="delete-forever"></mat-icon>
            </button>
        </th>
    <td mat-cell *matCellDef="let row" class="custom-cell-select" >
      <mat-checkbox (click)="$event.stopPropagation() "
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    *ngIf="deleteFlag">
      </mat-checkbox>
    </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  [ngClass]="{'admin-right': !disableButton(), 'user-right': disableButton()}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="pageEvent = getPage($event)"
  showFirstLastButtons></mat-paginator>
</div>
