<mat-toolbar color="primary">
    <div class='title'>
        <h2 i18n >Computer Database</h2>
        <h2> - </h2>
        <h2 *ngIf='setSubtitle()=="Login"' i18n >Login</h2>
        <h2 *ngIf='setSubtitle()=="Computer"' i18n >Computer</h2>
        <h2 *ngIf='setSubtitle()=="Company"' i18n >Company</h2>
    </div>
    <div>
    <button  mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!disableButton()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Switch to computer" i18n-matTooltip routerLink="/computer">
            <mat-icon svgIcon="computer"></mat-icon>
          <span i18n>Computer</span>
        </button>
        <button mat-menu-item matTooltip="Switch to company" i18n-matTooltip routerLink="/company">
            <mat-icon svgIcon="company"></mat-icon>
          <span i18n>Company</span>
        </button>
        <button mat-menu-item (click)='logout()'>
            <mat-icon svgIcon="logout"></mat-icon>
          <span i18n >Logout</span>
        </button>
      </mat-menu>
    </div>
</mat-toolbar>
