<mat-toolbar color="primary" i18n >Computer Database
  <div class="button-group" *ngIf="!disableButton()">
      <button mat-raised-button color="accent" matTooltip="Switch to computer" i18n-matTooltip routerLink="/computer" i18n >Computer</button>
      <button mat-raised-button color="accent" matTooltip="Switch to company" i18n-matTooltip routerLink="/company" i18n >Company</button>
      <button mat-raised-button matTooltip="Logout" (click)='logout()'><mat-icon svgIcon="logout"></mat-icon></button>
  </div>

</mat-toolbar>
