
 <form class="login-form">
    <mat-card class="card" color='primary'>
      <h4 i18n>Login</h4>
    <mat-form-field class="login-full-width">
      <input matInput i18n-placeholder placeholder="User" [(ngModel)]="userInfo.username" name="username">
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input type="password" i18n-placeholder placeholder="Password" matInput [(ngModel)]="userInfo.saltedPassword" name="saltedPassword">
    </mat-form-field>
    <button mat-button color="primary" (click)="onSubmit()" i18n >Connect</button>
   </mat-card>

  </form>


