<div class="dialog-box">
  <h1 mat-dialog-title i18n >Create computer</h1>
  <div mat-dialog-content class="custom-modal">
    <p i18n >Computer Name</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.computer.name">
    </mat-form-field>
    <p i18n >Computer Introduced</p>
    <mat-form-field>
      <input matInput [matDatepicker]="introducedPicker" i18n-placeholder placeholder="Choose a introduced date" [(ngModel)]="data.computer.introduced">
      <mat-datepicker-toggle matSuffix [for]="introducedPicker"></mat-datepicker-toggle>
      <mat-datepicker #introducedPicker></mat-datepicker>
    </mat-form-field>
    <p i18n >Computer Discontinued</p>
    <mat-form-field>
      <input matInput [matDatepicker]="discontinuedPicker" i18n-placeholder placeholder="Choose a discontinued date" [(ngModel)]="data.computer.discontinued">
      <mat-datepicker-toggle matSuffix [for]="discontinuedPicker"></mat-datepicker-toggle>
      <mat-datepicker #discontinuedPicker></mat-datepicker>
    </mat-form-field>
    <p i18n >Company</p>
    <mat-form-field>
        <mat-select placeholder="Choose your company" i18n-placeholder [(ngModel)]="data.computer.companyId">
          <mat-option *ngFor="let company of companyList" [value]="company.id">
            {{company.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" i18n >Cancel</button>
    <button mat-button [mat-dialog-close]="data.computer" cdkFocusInitial [disabled]="data.computer.name == null || data.computer.name?.length == 0">OK</button>
  </div>
</div>
