table {
  width: 100%;
}

.create-button {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.mat-column-select {
  overflow: initial;
}

.custom-button {
 margin-left: 30px;
 margin-right: 30px;
 display: flex;
 justify-content: center;
}

.custom-cell-name{
width: 88%
}

.custom-cell-select{
  width: 12%
}

.admin-right:hover{
  cursor: pointer;
  background-color:rgba(209, 202, 202, 0.829);
}

.user-right:hover{
  cursor: text;
}
