<div class="dialog-box">
    <h1 mat-dialog-title i18n >Edit computer</h1>
    <p class="error-message"*ngIf="dateValidator()" i18n >Dates are incoherent.</p>
    <div mat-dialog-content>
      <p i18n >Computer Name</p>
      <mat-form-field>
        <input matInput [(ngModel)]="updatedComputer.name" type="text" >
      </mat-form-field>

      <p i18n >Computer Introduced</p>
      <mat-form-field>
        <input disabled matInput [max]="now" [ngClass]="{'error-message': dateValidator()}" [matDatepicker]="introducedPicker" i18n-placeholder placeholder="Choose a introduced date" [(ngModel)]="updatedComputer.introduced">
        <mat-datepicker-toggle matSuffix [for]="introducedPicker"></mat-datepicker-toggle>
        <mat-datepicker #introducedPicker disabled="false"></mat-datepicker>
      </mat-form-field>

      <p i18n >Computer Discontinued</p>
      <mat-form-field>
        <input disabled matInput [max]="now" [ngClass]="{'error-message': dateValidator()}" [matDatepicker]="discontinuedPicker" i18n-placeholder placeholder="Choose a discontinued date" [(ngModel)]="updatedComputer.discontinued">
        <mat-datepicker-toggle matSuffix [for]="discontinuedPicker"></mat-datepicker-toggle>
        <mat-datepicker #discontinuedPicker disabled="false"></mat-datepicker>
      </mat-form-field>

      <p i18n >Company</p>
      <mat-form-field>
          <mat-select placeholder="No Company" i18n-placeholder [(ngModel)]="updatedComputer.companyId">
            <mat-option *ngFor="let company of companies" [value]="company.id"  >
              {{company.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()" i18n >Cancel</button>
      <button mat-button [mat-dialog-close]="updatedComputer" cdkFocusInitial [disabled]="dateValidator() ||updatedComputer.name.length == 0" i18n >OK</button>
    </div>
</div>
